body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vw;
    width: 100vh;
    overflow: hidden;
}

.marker {
  transform: translate(-50%, -100%);
}

.error {
  color: red;
}

.marker.red path {
  fill: #f05305;
}

.marker.yellow path {
  fill: #f3b73e;
}

.popup {
  max-width: 40vw;
  padding: 1rem;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.popup img {
  /*
  max-width: 50%;
  display:block;
  margin:auto;
  */
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.device-form label, 
.device-form input, 
.device-form textarea, 
.device-form button {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
